# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.build
_private/

*.sublime-workspace
npm-debug.log.*
coverage/
/.nyc_output

# local files for development
worklogger_home/

# misc
.DS_Store

# yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions